---
---

<div class="flex items-center justify-between font-bold text-xl">
  <a href="/users">Users</a>
  <a href="/todos">Todos</a>
  <a href="/albums">Albums</a>
  <a href="/posts">Posts</a>
</div>
